In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Online Retail II Dataset

- InvoiceNo: Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.

- StockCode: Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.

- Description: Product (item) name. Nominal.

- Quantity: The quantities of each product (item) per transaction. Numeric.

- InvoiceDate: Invice date and time. Numeric. The day and time when a transaction was generated.

- UnitPrice: Unit price. Numeric. Product price per unit in sterling (Â£).

- CustomerID: Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.

- Country: Country name. Nominal. The name of the country where a customer resides.

In [10]:
dataset = pd.read_csv('online_retail_II.csv', dtype={'Customer ID':float, 'Invoice':str})

In [11]:
dataset = pd.read_csv('online_retail_II.csv', dtype={'Customer ID':float, 'Invoice':str})

In [12]:
dataset.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom

In [13]:
dataset.shape

(1067371, 8)

describe_columns(dataset)

# Information of Data

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [15]:
dataset.describe()

        Quantity      Price  Customer ID
count 1067371.00 1067371.00    824364.00
mean        9.94       4.65     15324.64
std       172.71     123.55      1697.46
min    -80995.00  -53594.36     12346.00
25%         1.00       1.25     13975.00
50%         3.00       2.10     15255.00
75%        10.00       4.15     16797.00
max     80995.00   38970.00     18287.00

**We have a negative values in Quantity and Price**

In [46]:
dataset[(dataset['Quantity'] < 0) | (dataset['Price'] < 0)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
...,...,...,...,...,...,...,...,...
1065910,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
1067002,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
1067176,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
1067177,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
1067178,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [47]:
dataset[(dataset['Quantity'] < 0) | (dataset['Price'] < 0)].describe()

           Quantity         Price   Customer ID
count  22955.000000  22955.000000  18744.000000
mean     -46.354738     31.177929  15014.418694
std      788.164950    767.464100   1698.413277
min   -80995.000000 -53594.360000  12346.000000
25%      -11.000000      0.850000  13552.000000
50%       -2.000000      2.250000  14911.000000
75%       -1.000000      4.950000  16401.000000
max        1.000000  38970.000000  18287.000000

## A. Data Cleaning and Preparation

<span style='color:Indianred'>**Duplicated Values**</span>

In [48]:
dupli = dataset[dataset.duplicated(subset=dataset.columns,keep=False)]
dupli.shape

(67242, 8)

In [49]:
dupli

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
362,489517,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
363,489517,21912,VINTAGE SNAKES & LADDERS,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
365,489517,21821,GLITTER STAR GARLAND WITH BELLS,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
367,489517,22319,HAIRCLIPS FORTIES FABRIC ASSORTED,12,2009-12-01 11:34:00,0.65,16329.0,United Kingdom
368,489517,22130,PARTY CONE CHRISTMAS DECORATION,6,2009-12-01 11:34:00,0.85,16329.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067136,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
1067150,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
1067153,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
1067160,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
1067162,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

**We've got a 67242 rows duplicated values, so we're gonna removing all duplicated and keep first values from them.**

In [50]:
df = dataset.copy()

In [51]:
df.drop_duplicates(keep='first', inplace=True)

In [52]:
df.shape

(1033036, 8)

In [53]:
print('The data was decreasing ',dataset.shape[0]-df.shape[0], ' rows, after a removing a duplicates and keep first values from them')

The data was decreasing  34335  rows, after a removing a duplicates and keep first values from them

<span style='color:Indianred'>**Checking Missing Values**</span>

In [39]:
pd.DataFrame(round(df.isnull().sum()/df.shape[0] * 100,3), columns = ['Missing (%)'])

             Missing (%)
Invoice            0.000
StockCode          0.000
Description        0.417
Quantity           0.000
InvoiceDate        0.000
Price              0.000
Customer ID       22.728
Country            0.000

**Imputing a Missing values in a Customer ID columns can't take a mean/mode/median as a methods, it just because we never know what kind of customers or where the place customers has purchase the product. We gonna keep that missing values for further analysis**

In [40]:
miss_val = dataset[(dataset['Customer ID'].isna()) | (dataset['Description'].isna())]
miss_val

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.00,NaN,United Kingdom
283,489463,71477,short,-240,2009-12-01 10:52:00,0.00,NaN,United Kingdom
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.00,NaN,United Kingdom
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.00,NaN,United Kingdom
577,489525,85226C,BLUE PULL BACK RACING CAR,1,2009-12-01 11:49:00,0.55,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
1066997,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
1066998,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
1066999,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
1067000,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
1067001,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

### Understanding Features

### a. `Invoice`

- InvoiceNo: Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.

variabel `nc`  =  `no_cancel` dataset which those data doesn't have a `cancel_condition`

In [17]:
cancel_condition = df['Invoice'].apply(lambda x: x[0] == 'C')
nc = df[~cancel_condition]
display(nc, df[cancel_condition])

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
...,...,...,...,...,...,...,...,...
1065910,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
1067002,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
1067176,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
1067177,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
1067178,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

The invoice is a unique identifier, assuming that numbers denote the customers purchasing with a multiple items. So we have to check.

In [18]:
nc[nc['Invoice'] == '581587']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1067355,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
1067356,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France
1067357,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France
1067358,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France
1067359,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France
1067360,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France
1067361,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
1067362,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
1067363,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
1067364,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [19]:
nc.groupby('Customer ID').count()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Country
Customer ID,,,,,,,
12346.0,34,34,34,34,34,34,34
12347.0,222,222,222,222,222,222,222
12348.0,51,51,51,51,51,51,51
12349.0,175,175,175,175,175,175,175
12350.0,17,17,17,17,17,17,17
...,...,...,...,...,...,...,...
18283.0,938,938,938,938,938,938,938
18284.0,28,28,28,28,28,28,28
18285.0,12,12,12,12,12,12,12
18286.0,67,67,67,67,67,67,67
18287.0,155,155,155,155,155,155,155

I think that customers has purchased multiple items, so it's makes sense. Doesn't need a manipulation in this case.

**From understanding `Invoice` feature, separate the *cancelation* purchase is the best way to continue analyzing this data. Holding that *Cancelation* or *C* at this data make a bias for further analysis so I'm gonna remove that.**

### b. `StockCode`

- StockCode: Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.

**From `StockCode` *feature* description that item code have a 5 digit number uniquely**

# Slicing the condition that code has 5 digit number
stock = nc['StockCode'].apply(lambda x : len(x) < 6)

nc[stock]

In [21]:
a = '79323W'
a[:5].isnumeric()

True

In [22]:
stockrules = nc['StockCode'].apply(lambda x: x[:5].isnumeric())
nc[stockrules]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

**According thr description of `StockCode` that stock code have a 5 digit number. Assuming additional last words are variances of Products**

In [23]:
print(f"So we have {nc[~stockrules].shape[0]} rows doesn't meet the condition of stock rules")

So we have 4790 rows doesn't meet the condition of stock rules

In [24]:
ds = nc[~stockrules][['StockCode']]
ds['StockCode'].unique()

array(['POST', 'DCGS0058', 'DCGS0068', 'DOT', 'M', 'DCGS0004', 'DCGS0076',
       'C2', 'BANK CHARGES', 'DCGS0003', 'TEST001', 'gift_0001_80',
       'DCGS0072', 'gift_0001_20', 'DCGS0044', 'TEST002', 'gift_0001_10',
       'gift_0001_50', 'DCGS0066N', 'gift_0001_30', 'PADS', 'ADJUST',
       'gift_0001_40', 'gift_0001_60', 'gift_0001_70', 'gift_0001_90',
       'DCGSSGIRL', 'DCGS0006', 'DCGS0016', 'DCGS0027', 'DCGS0036',
       'DCGS0039', 'DCGS0060', 'DCGS0056', 'DCGS0059', 'GIFT', 'DCGSLBOY',
       'm', 'DCGS0053', 'DCGS0062', 'DCGS0037', 'DCGSSBOY', 'DCGSLGIRL',
       'DCGS0069', 'DCGS0070', 'DCGS0075', 'D', 'B', 'S', 'DCGS0041',
       'ADJUST2', 'C3', 'SP1002', 'AMAZONFEE', 'DCGS0055', 'DCGS0074',
       'DCGS0057', 'DCGS0073', 'DCGS0071', 'DCGS0066P', 'DCGS0067'],
      dtype=object)

Fortunately, there is only a small number of data points like this so lets remove them. Does it matter if I am suggesting to a buyer a pink or white item? Yes, it does! Let's say that a buyer is decorating a bedroom with a specific color pallet around pink, that buyer will be more susceptible to a suggested item within his desired color pallet. If enough buyers have a "thematic buying pattern" in the dataset it is possible that any future models build upon this dataset will be able to pick this knowledge. Anyways, the collapsing of data leads to an information loss which I really want to avoid. So, the answer is no, collapsing seems like a bad idea here.

In [25]:
nc = nc[stockrules]

In [26]:
nc.shape

(1009142, 8)

# Identify all the StockCode with more than one descripitions and print out those different descripitions
a
desc_unique = df.groupby('StockCode').agg(pd.Series.nunique)[['Description']]
desc_unique
for index, row in desc_unique[desc_unique['Description']>1].iterrows():
    print(index, df[df['StockCode']==index]['Description'].unique()a

### c. Customer ID

- `Customer ID`: Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.

In [27]:
no_reg = nc[nc['Customer ID'].isnull()]
reg = nc[~nc['Customer ID'].isnull()]

print(f"{no_reg.shape[0] * 100 / reg.shape[0]}% of the data point have missing 'Customer ID'")

29.937409626376287% of the data point have missing 'Customer ID'

In [28]:
no_reg.shape

(232505, 8)

In [29]:
reg.shape

(776637, 8)

#### Imputing Customer ID

Identifying `Customer ID` from `Invoice` features, the logic are that pruchased item with the same `Invoice` made by the same user. If the missing `Customer ID` are due to unregistered users/removed by request, this approach is not going to work.

In [30]:
invoice_no_reg = no_reg['Invoice'].unique()
invoice_with_reg = reg['Invoice'].unique()

cross_cust_id = [x for x in invoice_no_reg if x in invoice_with_reg]

print(f"There are {len(cross_cust_id)} overlapping entries between those with \
and without 'Customer ID' regarding the 'Invoice'")
cross_cust_id

There are 0 overlapping entries between those with and without 'Customer ID' regarding the 'Invoice'

[]

There is no overlapping `Invoice` unique features from `Null` Values, so the conclusion I'm gonna input *dummies* `Customer ID` which related to buy timing and `Invoice`. Assuming that each `Invoice` corresponds to a single users.

In [31]:
invc_count_cust = reg.groupby(by='Invoice')[['Customer ID']].count()
display(invc_count_cust)
print(f"The total of one single user purchasing one item within {invc_count_cust[invc_count_cust['Customer ID'] == 1].sum()}")
print(f"Counting an Invoice which related by Customer ID on Purchasing {invc_count_cust.shape[0]}")

         Customer ID
Invoice
489434             8
489435             4
489436            19
489437            23
489438            17
...              ...
581583             2
581584             2
581585            21
581586             4
581587            15

[36597 rows x 1 columns]

The total of one single user purchasing one item within Customer ID    2741
dtype: int64
Counting an Invoice which related by Customer ID on Purchasing 36597

test = nc['Customer ID'].apply(lambda x : mapper[str(int(x))])
mapper = {v:k for k,v in mapper.items()}

In [58]:
nc.reset_index(inplace=True)

In [79]:
nc['Customer ID'].fillna(0, inplace=True)

In [80]:
unique_invoice = no_reg['Invoice'].unique()

mapper = {}
for i in range(len(unique_invoice)):
    mapper[unique_invoice[i]] = f'imp{i}'

# mapper = {v:k for k,v in mapper.items()}
for i in range(len(nc['Customer ID'])):
    if nc.loc[i, 'Customer ID'] == 0 and nc.loc[i, 'Invoice'] in mapper.keys():
        nc.loc[i, 'Customer ID'] = mapper[nc.loc[i, 'Invoice']]

In [81]:
nc[nc['Customer ID'].isna()]

Empty DataFrame
Columns: [index, Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

<hr>

Take a long time to impute that missing values, so i'm gonna convert that `DataFrame` to csv again to speed up the process.

In [ ]:
nc.to_csv('Online Retail II Impute NaN Customer.csv')

<hr>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

import warnings 
warnings.filterwarnings("ignore")

In [2]:
nc = pd.read_csv('Online Retail II Impute NaN Customer.csv')

In [3]:
nc.drop(columns=['Unnamed: 0', 'index'], inplace=True)

In [4]:
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009142 entries, 0 to 1009141
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1009142 non-null  int64
 1   StockCode    1009142 non-null  object
 2   Description  1004930 non-null  object
 3   Quantity     1009142 non-null  int64
 4   InvoiceDate  1009142 non-null  object
 5   Price        1009142 non-null  float64
 6   Customer ID  1009142 non-null  object
 7   Country      1009142 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 61.6+ MB

In [5]:
nc.shape

(1009142, 8)

### d. `Quantity` and `Price`

- Quantity: The quantities of each product (item) per transaction. Numeric.

- UnitPrice: Unit price. Numeric. Product price per unit in sterling (Â£).

Checking the business logic where the quantity and price is impossible to have a negative values. I'm gonna separate all of these negative values, features *Description* didn't explain what negative values are.

In [6]:
nc[(nc['Price'] < 0) | (nc['Quantity'] < 0)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
238,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.0,imp0,United Kingdom
258,489463,71477,short,-240,2009-12-01 10:52:00,0.0,imp1,United Kingdom
259,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.0,imp2,United Kingdom
430,489521,21646,NaN,-50,2009-12-01 11:44:00,0.0,imp3,United Kingdom
2947,489655,20683,NaN,-44,2009-12-01 17:26:00,0.0,imp25,United Kingdom
...,...,...,...,...,...,...,...,...
1002696,581210,23395,check,-26,2011-12-07 18:36:00,0.0,imp8099,United Kingdom
1002698,581212,22578,lost,-1050,2011-12-07 18:38:00,0.0,imp8101,United Kingdom
1002699,581213,22576,check,-30,2011-12-07 18:38:00,0.0,imp8102,United Kingdom
1004270,581226,23090,missing,-338,2011-12-08 09:56:00,0.0,imp8105,United Kingdom
1006206,581422,23169,smashed,-235,2011-12-08 15:24:00,0.0,imp8111,United Kingdom

In [7]:
nc = nc[~((nc['Price'] < 0) | (nc['Quantity'] < 0))]

In [8]:
nc.shape

(1005780, 8)

### e. `InvoiceDate`

- InvoiceDate: Invice date and time. Numeric. The day and time when a transaction was generated..

From the information of the data, this feature still an `object` so we have to change it to date time format, and change the number of month to Month as locale’s abbreviated name. Splitting up the time gonna be useful enough, hope leads me up to get beautiful insight for this `dataset`.

*Python strftime reference :*  https://strftime.org/

In [9]:
nc['InvoiceDate'].head()

0    2009-12-01 07:45:00
1    2009-12-01 07:45:00
2    2009-12-01 07:45:00
3    2009-12-01 07:45:00
4    2009-12-01 07:45:00
Name: InvoiceDate, dtype: object

In [10]:
nc['InvoiceDate'] = pd.to_datetime(nc['InvoiceDate'], format='%Y-%m-%d %H:%M:%S')

In [11]:
nc['InvoiceDate'].head()

0   2009-12-01 07:45:00
1   2009-12-01 07:45:00
2   2009-12-01 07:45:00
3   2009-12-01 07:45:00
4   2009-12-01 07:45:00
Name: InvoiceDate, dtype: datetime64[ns]

In [12]:
nc['Day of Week'] = nc['InvoiceDate'].dt.strftime('%A')

In [13]:
nc['Date'] = nc['InvoiceDate'].dt.strftime('%d')

In [14]:
nc['Month'] = nc['InvoiceDate'].dt.strftime('%b')

In [15]:
nc['Year'] = nc['InvoiceDate'].dt.strftime('%Y')

In [16]:
nc['Day of Year'] = nc['InvoiceDate'].dt.strftime('%j')

In [17]:
nc['Week of Year'] = nc['InvoiceDate'].dt.strftime('%W')

In [18]:
nc['Time Hour'] = nc['InvoiceDate'].dt.strftime('%X')

In [19]:
nc['Hour'] = nc['InvoiceDate'].dt.hour

In [20]:
nc.head(2)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Day of Week,Date,Month,Year,Day of Year,Week of Year,Time Hour,Hour
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,Tuesday,01,Dec,2009,335,48,07:45:00,7
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,Tuesday,01,Dec,2009,335,48,07:45:00,7

### f. `Description`

- Description: Product (item) name. Nominal.

Checking The missing values

In [21]:
display(nc[nc['Description'].isna()])
print(f"We have {nc['Description'].isna().sum()} missing values from Description Rows")

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Day of Week,Date,Month,Year,Day of Year,Week of Year,Time Hour,Hour
2994,489659,21350,NaN,230,2009-12-01 17:39:00,0.0,imp26,United Kingdom,Tuesday,01,Dec,2009,335,48,17:39:00,17
3549,489781,84292,NaN,17,2009-12-02 11:45:00,0.0,imp29,United Kingdom,Wednesday,02,Dec,2009,336,48,11:45:00,11
6146,489882,35751C,NaN,12,2009-12-02 16:22:00,0.0,imp37,United Kingdom,Wednesday,02,Dec,2009,336,48,16:22:00,16
6322,489898,79323G,NaN,954,2009-12-03 09:40:00,0.0,imp39,United Kingdom,Thursday,03,Dec,2009,337,48,09:40:00,9
6348,489903,21166,NaN,48,2009-12-03 09:57:00,0.0,imp42,United Kingdom,Thursday,03,Dec,2009,337,48,09:57:00,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001137,581103,22689,NaN,4,2011-12-07 11:58:00,0.0,imp8084,United Kingdom,Wednesday,07,Dec,2011,341,49,11:58:00,11
1002689,581203,23406,NaN,15,2011-12-07 18:31:00,0.0,imp8092,United Kingdom,Wednesday,07,Dec,2011,341,49,18:31:00,18
1002695,581209,21620,NaN,6,2011-12-07 18:35:00,0.0,imp8098,United Kingdom,Wednesday,07,Dec,2011,341,49,18:35:00,18
1004324,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,imp8106,United Kingdom,Thursday,08,Dec,2011,342,49,10:33:00,10
1005857,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,imp8110,United Kingdom,Thursday,08,Dec,2011,342,49,14:06:00,14

We have 1605 missing values from Description Rows

#### Cross Validation Check

It's a logical whereas the `StockCode` represent `Description` as a unique Code.

Separating `NaN` values  `DataFrame` and *Unique code `pd.Series`* before cross checking.

In [22]:
# DataFrame
desc_nan = nc[nc['Description'].isna()]
desc_nonan = nc[~nc['Description'].isna()]

# Unique Code

stck_unq = desc_nonan['StockCode'].unique()
stck_unq_nan = desc_nan['StockCode'].unique()

cross_stck = [x for x in stck_unq_nan if x in stck_unq]

print(f"There are {len(cross_stck)} overlapping entries between those with \
and without 'Description' regarding the 'Stock Code'")

There are 986 overlapping entries between those with and without 'Description' regarding the 'Stock Code'

Checking overlapping result into Description

pd.Series.sort_values()

pd.Series.drop_duplicates

In [23]:
idx_stck = desc_nonan.set_index('StockCode')
check_stck = idx_stck.loc[cross_stck, :][['Description']].drop_duplicates(keep='first').reset_index()
# check_stck.reset_index(inplace=True)
check_stck.drop_duplicates(subset='StockCode', keep='first', inplace=True)
display(check_stck.head(), check_stck.shape)

  StockCode                    Description
0     21350           GINGHAM HEART WREATH
1     84292  ROSE PINK METAL FOLDING CHAIR
2    35751C     PURPLE CURRENT CANDLE RING
3    79323G            GOLD  CHERRY LIGHTS
4     21166     COOK WITH WINE METAL SIGN

(986, 2)

In [24]:
len(check_stck['StockCode'].unique())

986

In [25]:
nc.reset_index(inplace=True)

In [26]:
nc.drop(columns='index', inplace=True)

In [27]:
mapper_stck = check_stck.set_index('StockCode').to_dict()['Description']
mapper_stck

{'21350': 'GINGHAM HEART WREATH',
 '84292': 'ROSE PINK METAL FOLDING CHAIR',
 '35751C': 'PURPLE CURRENT CANDLE RING',
 '79323G': 'GOLD  CHERRY LIGHTS',
 '21166': 'COOK WITH WINE METAL SIGN ',
 '21982': 'PACK OF 12 SUKI TISSUES ',
 '84508B': 'STRIPES DESIGN TEDDY',
 '84347': 'ROTATING SILVER ANGELS T-LIGHT HLDR',
 '37446': 'MINI CAKE STAND WITH HANGING CAKES',
 '21133': 'PAINTED BIRD ASSORTED CHRISTMAS',
 '22158': '3 HEARTS HANGING DECORATION RUSTIC',
 '72008': 'FROSTED BOX 9 WHITE T-LIGHT CANDLES',
 '85185F': 'LION SOCK PUPPET',
 '84922': 'PINK BUTTERFLY WASHBAG',
 '20879': 'TREE OF NOAH FESTIVE SCENTED CANDLE',
 '35980C': 'REDWHITE STRIPE SCANDINAVIAN HEART ',
 '22188': 'BLACK HEART CARD HOLDER',
 '22174': 'PHOTO CUBE',
 '72267': 'PREMIUM CHURCH CANDLE',
 '22187': 'GREEN CHRISTMAS TREE CARD HOLDER',
 '16161C': 'WRAP SPEED DEMONS ',
 '47503F': 'ASS FLORAL PRINT TORCH',
 '72045D': 'ROSES ON BLUE TEACUP CANDLE ',
 '84249D': 'FAIRY CAKE GREETINGS CARD',
 '17164B': "ASS COL SMALL SAND GECKO P'WEIGHT",
 '84247H': 'PACK/12 DECOUPAGE CARD',
 '84199': 'GLOW IN DARK DOLPHINS',
 '37485': 'ENGLISH ROSE TEA SET IN GIFT BOX',
 '84814B': 'RHOMBUS CRYSTAL PERFUME BOTTLE',
 '72756': 'FAIRY CAKE CANDLES',
 '20736': 'PINK MINI TAPE MEASURE ',
 '22197': 'POPCORN HOLDER , SMALL ',
 '20668': 'DISCO BALL CHRISTMAS DECORATION',
 '20952': 'PORCELAIN CHERUB BELL SMALL',
 '72724': 'SET/6 CHRISTMAS ICICLE T-LIGHTS',
 '21560': 'TOADSTOOL  LUNCHBOX WITH CUTLERY',
 '17164D': "ASS COL SMALL SAND FROG P'WEIGHT",
 '35603B': 'S/16 BLACK SHINY/MAT BAUBLES',
 '35999': 'S/6 SCANDINAVIAN HEART T-LIGHT',
 '79163': 'BLACK CHAMPAGNE GLASS',
 '85230C': 'ROSE SCENTED VOTIVE CANDLE',
 '85230D': 'VANILLA SCENTED VOTIVE CANDLE',
 '72708': 'SCULPTED ROUND IVORY CANDLE ',
 '22144': 'CHRISTMAS CRAFT LITTLE FRIENDS',
 '35051B': 'PINK BEADED CONE CHRISTMAS',
 '22330': '72 ROUND PINK DOILIES',
 '22390': 'PAPERWEIGHT CHILDHOOD MEMORIES',
 '84251C': 'GREETING CARD, TWO SISTERS.',
 '21478': 'SILVER SKULL HOT WATER BOTTLE ',
 '20621': 'ECONOMY PASSPORT COVER ',
 '71477': 'COLOUR GLASS. STAR T-LIGHT HOLDER',
 '85151': 'WELCOME METAL SIGN',
 '22141': 'CHRISTMAS CRAFT TREE TOP ANGEL',
 '44091C': 'MULTICOLOUR CRUSOE CHECK LAMPSHADE',
 '47556': 'SET/2 SPOTTY + ROSE TEA TOWELS ',
 '85083': 'KISS REINDEER SCANDINAVIAN STOCKING',
 '90002A': 'FLOWER BURST SILVER RING OPAL',
 '20673': 'STRAWBERRIES PRINT BOWL',
 '20887': 'BOX OF 6 PEBBLE CANDLES',
 '20884': 'MODERN CHRISTMAS TREE CANDLE ',
 '84921': 'CREAM AND PINK FLOWERS PONY ',
 '21852': 'EMPIRE TEDDY',
 '22113': 'GREY HEART HOT WATER BOTTLE',
 '46307': 'ROSES BLUE BASE CUSHION COVER ',
 '84029D': 'LEOPARD PRINT HOT WATER BOTTLE',
 '84247N': 'PACK/12 BLUE FOLKART CARDS',
 '17129C': 'SKY BLUE COLOUR GLASS GEMS IN BAG',
 '21787': 'RAIN PONCHO WITH RED SPOTS',
 '37451': 'CERAMIC CAKE TEAPOT WITH CHERRY',
 '35001P': 'HAND OPEN SHAPE PINK',
 '78056': 'CAMOUFLAGE BACKPACK ON WHEELS',
 '79065A': 'TEATIME ROUND CAKE TINS ',
 '21915': 'RED  HARMONICA IN BOX ',
 '21169': "YOU'RE CONFUSING ME METAL SIGN ",
 '35821P': 'JEWELLED DECORATION,PINK',
 '21767': 'FRENCH STYLE WIRE DOOR CABINET ',
 '84803B': 'WHITE ALLIUM  ARTIFICIAL FLOWER',
 '21450': 'DISTRESSED CANDLE STICK WHITE',
 '21543': 'BUTTERFLY WATER TRANSFER TATTOOS ',
 '84255A': 'PINK GLASS COCKTAIL LAMP',
 '20683': 'RAIN GIRL CHILDS UMBRELLA',
 '72487': 'ROSES WHITE ROUND CANDLE',
 '37484': 'ENGLISH ROSE TEA FOR ONE GIFT BOX',
 '37468': 'HARDMAN MUG 3 ASSORTED',
 '20721': 'OWLS CHARLOTTE BAG',
 '20737': 'RED MINI TAPE MEASURE ',
 '84972L': 'GIANT PINK HEART MEMO HOLDER',
 '72785A': 'S/4 CONTEMPORY PINK ROSEBUD CANDLES',
 '72803B': 'OCEAN SCENT CANDLE JEWELLED DRAWER',
 '84945': 'MULTI COLOUR SILVER T-LIGHT HOLDER',
 '84757': 'ENCHANTED GARDEN WROUGHT IRON TABLE',
 '35945': 'GOLD CHRISTMAS STOCKING DECORATION',
 '35598C': 'WHITE CHRISTMAS TREE 60CM',
 '85018C': 'S/6 PAPER BOXES CURIOUS IMAGES ',
 '37492C': 'GREEN BLUE FLOWER PIGGY BANK',
 '40046C': 'PINK BUTTERFLY PAPER LAMPSHADE',
 '21558': 'SKULL LUNCHBOX WITH CUTLERY ',
 '84753A': 'PINK EAU DE COLOGNE BOTTLE',
 '37509': 'NEW ENGLAND MUG W GIFT BOX',
 '20940': 'SET/6 GARDEN GNOME T-LIGHT CANDLES',
 '90004A': 'JADE GREEN PAIR ENAMEL HAIR SLIDES',
 '20870': 'OPULENT VELVET CANDLE IN BOX',
 '90121B': 'VINTAGE ROSE BEAD BRACELET BLUE',
 '20973': '12 PENCIL SMALL TUBE WOODLAND',
 '21353': 'SILVER SLEIGHBELL  WREATH',
 '21479': 'WHITE SKULL HOT WATER BOTTLE ',
 '84855': 'BLOKEY SILVER TOOL SET',
 '62097A': 'PINK STRIPES SHOULDER BAG',
 '85232C': 'RUSSIAN FOLKART STACKING TINS',
 '85064': 'CREAM SWEETHEART LETTER RACK',
 '90082C': 'DIAMANTE BOW BROOCH WHITE COLOUR',
 '90091': 'CRYSTAL DRAGONFLY PHONE CHARM',
 '21981': 'PACK OF 12 WOODLAND TISSUES ',
 '17129D': 'CLEAR COLOUR GLASS GEMS IN BAG',
 '84925D': 'LA PALMIERA WALL THERMOMETER',
 '20714': 'POSY SHOPPER BAG',
 '20913': 'SET/5 BLUE SPOTTY LID GLASS BOWLS',
 '21477': 'STRING OF 20 ROSE LIGHTS',
 '20968': 'GREEN FLORAL FELTCRAFT SHOULDER BAG',
 '16206B': 'RED PURSE WITH PINK HEART',
 '21731': 'RED TOADSTOOL LED NIGHT LIGHT',
 '79321': 'CHILLI LIGHTS',
 '84795E': 'RIO PINK STRIPE HAMMOCK',
 '84933C': 'LARGE BLUE ORIENTAL FOLDING STOOL',
 '85070': 'ANT WHITE SWEETHEART TABLE W 3 DRAW',
 '84723': 'CHERRY BLOSSOM CANVAS ART PICTURE',
 '72739B': 'WHITE CHOCOLATE SCENT CANDLE',
 '47562': 'ENGLISH ROSE IRONING BOARD COVER',
 '46000P': 'POLYESTER FILLER PAD 65CMx65CM',
 '72789': 'BASKET/8 SCENTED LOVE TOKEN CANDLES',
 '21554': 'CERAMIC BIRDHOUSE RED ROOF LARGE',
 '18096C': 'WHITE ROUND PORCELAIN TLIGHT HOLDER',
 '20791': 'BLUE TILED SET OF 3 DRAWERS',
 '21340': 'CLASSIC METAL BIRDCAGE PLANT HOLDER',
 '21322': 'GLASS SPHERE CANDLE STAND LARGE ',
 '21893': 'POTTING SHED SEED TIN',
 '21914': 'BLUE HARMONICA IN BOX ',
 '18097B': 'BLUE TALL PORCELAIN T-LIGHT HOLDER',
 '84288B': 'SET/2 BLUE  NOODLE BASKETS',
 '72796A': 'S/3 ENGLISH LAVENDER SQU CANDLE',
 '21252': 'SET OF MEADOW  FLOWER STICKERS',
 '21363': 'HOME SMALL WOOD LETTERS',
 '21551': 'CERAMIC BIRDHOUSE BUTTERFLY LARGE',
 '21409': 'SPOTTY COCKEREL DOORSTOP',
 '21779': 'MA CAMPAGNE MINI WOODEN CHEST',
 '84030B': 'KNITTED POM POM HOT WATER BOTTLE',
 '85166A': 'WHITE METAL BAROQUE PHOTO FRAME',
 '85023A': 'CRYSTAL LARGE JEWELLED PHOTO FRAME',
 '85043': 'RED HEART CANDY POP LIGHTS',
 '16254': 'TRANSPARENT ACRYLIC TAPE DISPENSER',
 '35822B': 'ACRYLIC BEAD CHAIN, BLUE',
 '84596I': 'WRAP SWEETS LIGHT PINK SMALL BOWL',
 '46775A': 'BUBBLE GUM CHUNKY KNITTED THROW ',
 '84292B': 'BLUE COL METAL FOLDING CHAIR',
 '22657': 'HEN & 2 CHICKS IN BASKET',
 '22016': 'Dotcomgiftshop Gift Voucher £100.00',
 '84227': 'HEN HOUSE W CHICK IN NEST',
 '22139': 'RETRO SPOT TEA SET CERAMIC 11 PC ',
 '16207A': 'PINK STRAWBERRY HANDBAG ',
 '84925A': 'WAKE UP COCKEREL WALL THERMOMETER',
 '21967': 'PACK OF 12 SKULL TISSUES',
 '72785B': 'S/4 CONTEMPORY RED ROSEBUD CANDLES',
 '51012C': 'FEATHER DUSTER, COAL BLACK',
 '84450A': 'PINK RABBIT SITTING EASTER',
 '44091A': 'BLUE CRUSOE CHECK LAMPSHADE',
 '82011E': 'BATHROOM SCALES, FAG BREAK',
 '22169': 'FAMILY ALBUM WHITE PICTURE FRAME',
 '79303A': 'WHITE ROHMBIC BLOCK TABLE LAMP',
 '84798C': 'WHITE FOXGLOVE ARTIIFCIAL FLOWER',
 '84425A': 'WHITE GLASS TV TRIPLE FRAME',
 '21338': 'MARAKESH LANTERN SMALL ',
 '84081': 'WHITE CERAMIC PARTY SET (5PCS)',
 '84705C': 'PINK FLOCK PHOTO FRAME ',
 '16168S': 'FUNKY MONKEY GIFT BAG SMALL',
 '84926B': 'SCOTTS ROSES TILE COASTER',
 '21098': 'CHRISTMAS TOILET ROLL',
 '21489': 'BLUE WHITE SCARF HOT WATER BOTTLE',
 '22058': 'CERAMIC LOVE HEARTS DESIGN MUG',
 '84830': 'LARGE ENGLISH ARBORETUM',
 '84251J': 'GREETING CARD, THE BLACK CAT',
 '20804': 'GLASS CHICKEN BUTTER DISH',
 '10124A': 'SPOTS ON RED BOOKCOVER TAPE',
 '72796B': 'S/3 FRENCH VANILLA SQU CANDLE',
 '20698': 'LITTLE PINK MONSTER SOFT TOY',
 '37477C': 'FLOWER FAIRY MUG+COASTER,ROSE',
 '85097B': 'BLUE ROCKING SINGING CANARY',
 '72799A': 'BLACK PILLAR CANDLE SILVER FLOCK',
 '21729': 'SMALL MARAKESH METAL  LANTERN ',
 '20747': 'PICCADILLY TEA SET',
 '84845C': 'CARNATION SQUARE HANDY TIN',
 '84845D': 'GERANIUM SQUARE HANDY TIN',
 '20899': 'VINTAGE NOTEBOOK RED ROSE',
 '37462E': 'PET MUG, GOLDFISH',
 '77079': 'DOLPHIN WINDMILL',
 '37488A': 'YELLOW PINK FLOWER DESIGN BIG BOWL',
 '44217M': 'MULTICOLOUR FEATHERS CURTAIN',
 '22432': 'WATERING CAN PINK BUNNY',
 '85114C': 'RED ENCHANTED FOREST PLACEMAT',
 '82553': "POP'S GREASY SPOON METAL SIGN",
 '16044': 'POP-ART FLUORESCENT PENS',
 '21984': 'PACK OF 12 PINK PAISLEY TISSUES ',
 '35001B': 'HAND OPEN SHAPE BLACK',
 '21309': 'LOUVRE CHALKBOARD',
 '84464': 'S/60 PINK FLUFFY CHICKS IN BOX',
 '21256': 'FRENCH BOTTLE, BRASSERIE DES ARTIST',
 '20672': 'PINK TEATIME PRINT BOWL',
 '16207B': 'PINK HEART RED HANDBAG',
 '15056P': 'EDWARDIAN PARASOL PINK',
 '15056BL': 'EDWARDIAN PARASOL BLACK',
 '72728': 'ROSE SCENT CANDLES IN GLASS',
 '21387': 'IVORY HANGING DECORATION  RABBIT',
 '21095': 'SET/6 POSIES PAPER PLATES',
 '37410': 'BLACK AND WHITE PAISLEY FLOWER MUG',
 '20849': 'ZINC HEART LATTICE DOUBLE PLANTER',
 '20776': 'ABSTRACT CIRCLES NOTEBOOK',
 '20774': 'GREEN FERN NOTEBOOK',
 '20775': 'DAISY NOTEBOOK ',
 '20731': 'POSY CANDY BAG',
 '21553': 'CERAMIC BIRDHOUSE FINCH BLUE  LARGE',
 '22295': 'HEART FILIGREE DOVE LARGE',
 '90111': 'BLUE HIBISCUS  HAIR CLIP',
 '21396': 'RED SPOTTY EGG CUP ',
 '21623': 'VINTAGE UNION JACK MEMOBOARD',
 '84706A': 'ENGLISH ROSE TABLE CLOCK',
 '84520D': 'PACK OF 20 FAIRY CAKE PAPER NAPKINS',
 '72750C': 'F.FAIRY S/3 CANDLE/GLASS, ROSE',
 '84947': 'ANTIQUE SILVER TEA GLASS ENGRAVED',
 '84219': 'BOX/12 MOTHER & CHICK IN BASKET/BOW',
 '84997A': 'GREEN 3 PIECE MINI DOTS CUTLERY SET',
 '82613A': 'METAL SIGN,CUPCAKE SINGLE HOOK',
 '82585': 'SWEET VALENCIA CANDLE+CUP',
 '35096A': 'BLUE VICTORIAN FABRIC HEART BOX',
 '37502': 'TEA TIME MUG IN GIFT BOX',
 '84427B': 'BLACK GLASS TV DOUBLE P/FRAME 15X10',
 '72484': 'ROSES IN WHITE HEART CANDLE ',
 '85049C': 'ROMANTIC PINKS RIBBONS ',
 '90084': 'PINK CRYSTAL GUITAR PHONE CHARM',
 '84030C': 'KNITTED RAINBOW HOT WATER BOTTLE',
 '22125': 'UNION JACK HOT WATER BOTTLE ',
 '22364': 'GLASS JAR DIGESTIVE BISCUITS',
 '22362': 'GLASS JAR PEACOCK BATH SALTS',
 '35970': 'ZINC FOLKART SLEIGH BELLS',
 '20688': 'BEAUTY SPEED EXPRESSO CUPS',
 '20689': 'RETRO SISTERS EXPRESSO CUPS',
 '20989': 'URBAN CHIC CHOPSTICKS SET/5',
 '84767': 'ZINC POLICE BOX LANTERN',
 '84437A': 'S/6 PINK EASTER DECS IN BOX',
 '21255': 'FRENCH BOTTLE , LAVENDER',
 '16161P': 'WRAP ENGLISH ROSE ',
 '85053': 'FRENCH ENAMEL CANDLEHOLDER',
 '16244A': 'MAXWELL 2 TONE PINK 60 PAGE PHOTO A',
 '84402D': 'PINK DRESS JEWELLERY STAND ',
 '79413': 'GLASS WINE GLASS DECORATIONS',
 '21752': 'GLASS CAKE STAND MIRRORED BASE',
 '79303D': 'LILAC FLOWER BLOCK TABLE LAMP',
 '84469': 'ROSE DES PADDED FLOOR CUSHION',
 '84984B': 'RED PEONY DES C/COVER ',
 '17109A': 'FLOWER FAIRY INCENSE LILY',
 '85196': 'EASTER BUNNIES ON A STICK',
 '85206B': 'PINK FELT EASTER EGG BASKET',
 '21384': 'IVORY HANGING DECORATION  BUTTERFLY',
 '48195': 'DOOR MAT GREEN PAISLEY ',
 '85014D': 'PINK/BROWN DOTS RUFFLED UMBRELLA',
 '22146': 'EASTER CRAFT IVY WREATH WITH CHICK',
 '84447': '6 RABBIT CHAIN EASTER',
 '37326': 'FAIRY DESIGN MUGS',
 '21385': 'IVORY HANGING DECORATION  HEART',
 '84814A': 'HEXAGONAL CRYSTAL PERFUME BOTTLE',
 '84750A': 'PINK SMALL GLASS CAKE STAND',
 '85167A': 'WHITE GRAND BAROQUE PHOTO FRAME',
 '84746': 'PINK EASTER HENS+FLOWER',
 '21173': 'LOO ROLL  METAL SIGN ',
 '22290': 'STANDING METAL RABBIT WITH EGG',
 '84467': 'ENGLISH ROSE DESIGN QUILTED THROW',
 '21321': 'GLASS CHALICE BLUE  LARGE ',
 '21193': 'WHITE HONEYCOMB PAPER FAN ',
 '84914A': 'PINK ROSE PICNIC RUG',
 '22719': 'GUMBALL COATHOOK., BLACK & WHITE ',
 '22528': 'GARDENERS KNEELING PAD',
 '22558': 'CLOTHES PEGS RETROSPOT PACK 24 ',
 '84875D': 'BLUE SQUARE COMPACT MIRROR',
 '47503A': 'ASS FLORAL PRINT MULTI SCREWDRIVER',
 '22180': 'RETRO SPOT LAMP',
 '22429': 'ENAMEL MEASURING JUG CREAM',
 '20685': 'RED SPOTTY COIR DOORMAT',
 '37501': 'TEA TIME TEA SET IN GIFT BOX',
 '21663': 'VINTAGE GLASS SUGAR CADDY',
 '47504G': 'ENGLISH ROSE TAPE MEASURE',
 '90197D': 'AMBER GLASS BRACELET HEART CHARMS',
 '84971L': 'LARGE HEART FLOWERS HOOK   ',
 '47570': 'ENGLISH ROSE TABLE CLOTH',
 '84627': 'CANDY STRIPE ROSE C/COVER ',
 '85113': 'POLKA DOT PISTACHIO PAIL',
 '21759': 'METAL WALL SHELF UNIT WITH HOOKS',
 '84795C': 'OCEAN STRIPE HAMMOCK ',
 '84795A': 'PASTEL STRIPE HAMMOCK ',
 '10080': 'GROOVY CACTUS INFLATABLE',
 '75149N': 'STRING CRYSTALS NATURAL',
 '16156N': 'WRAP, FRIENDSHIP ON GREEN',
 '84461': '12 PINK HEN+CHICKS IN BASKET',
 '21935': 'SUKI  SHOULDER BAG',
 '35004P': 'SET OF 3 PINK FLYING DUCKS',
 '21670': 'BLUE SPOT CERAMIC DRAWER KNOB',
 '84247E': 'PACK/12 XMAS FUN CARD',
 '46115B': 'GREEN POP ART MAO CUSHION COVER ',
 '37461': 'FUNKY MONKEY MUG',
 '75049L': 'LARGE CIRCULAR MIRROR MOBILE',
 '84670': 'JAPANESE CROCHETED ANIMAL',
 '17014A': 'ORIGAMI VANILLA INCENSE CONES',
 '17014E': 'ORIGAMI OPIUM INCENSE CONES',
 '84620': 'BLUE GINGHAM ROSE CUSHION COVER',
 '84854': 'GIRLY PINK TOOL SET',
 '21552': 'CERAMIC BIRDHOUSE BLACK ROSE  LARGE',
 '47587A': 'PINK FAIRY CAKE COASTER',
 '84629': 'WHITE 3 FRAME BIRDS AND TREE ',
 '85121B': 'RETRO LAUNDRY TUB PINK',
 '85231E': 'STRAWBERRY SCENTED SET/9 T-LIGHTS',
 '85050': 'FRENCH ENAMEL SOAP DISH WITH LID',
 '40018E': 'TEA TIME PAPER LANTERNS',
 '84251F': 'GREETING CARD, RITA',
 '16161M': 'WRAP  PINK FLOCK',
 '85185C': 'COW  SOCK PUPPET',
 '85014C': 'BLUE/BROWN DOTS RUFFLED UMBRELLA',
 '84526': 'GIANT BLACK SUNGLASSES',
 '84529A': 'PINK KNITTED KIDS RUCKSACK',
 '17014F': 'ORIGAMI SANDLEWOOD INCENSE CONES',
 '72798C': 'SET/4 GARDEN ROSE DINNER CANDLE',
 '72799D': 'BLUE PILLAR CANDLE SILVER FLOCK',
 '84597B': 'RETRO BROWN BALL ASHTRAY ',
 '20785': 'FUSCHIA RETRO BAR STOOL',
 '20786': 'BLACK RETRO BAR STOOL',
 '20957': 'PORCELAIN HANGING BELL SMALL',
 '84575B': 'BROWN DOG CANNISTER W BONE',
 '84743C': 'ORANGE FELT VASE + FLOWERS',
 '22348': 'TEA BAG PLATE RED SPOTTY ',
 '84937': 'KASHMIR FOLKART TUMBLERS',
 '21950': 'SET OF 6 DOTS CHOPSTICKS',
 '20990': 'SPRING FLOWER CHOPSTICKS SET/5',
 '84986B': 'SET OF 36 SILVER PAPER DOILIES',
 '84510B': 'SET OF 4 FAIRY CAKES COASTERS ',
 '84596K': 'JELLY BABIES YELLOW SMALL BOWL',
 '84564': '6 SEGMENT COLOURED SNACK BOWL ',
 '84595B': 'LARGE TRIFLE DESIGN L BLUE BOWL',
 '84795D': 'SEASIDE STRIPE HAMMOCK',
 '84858B': 'BLUE RIVIERA HANDBAG',
 '20862': 'PINK PATCH PENCIL CASE BLUE HEART',
 '21357': 'TOAST ITS - DINOSAUR',
 '37483': 'ENGLISH ROSE MUG IN GIFT BOX',
 '79308B': 'MOSAIC CANDLE DISH BLUE PURPLE',
 '21749': 'LARGE RED SPOT WINDMILL',
 '77081': 'FLOWER WINDMILL',
 '21837': 'CROSS STITCH ALPHABET CUSHION COVER',
 '84690': 'S/2 BEACH HUT STOOLS',
 '22193': 'RED DINER WALL CLOCK',
 '16052': 'TEATIME PUSH DOWN RUBBER',
 '21145': 'ANTIQUE GLASS PLACE SETTING',
 '22467': 'GUMBALL COAT RACK',
 '85078': 'SCANDINAVIAN 3 HEARTS NAPKIN RING',
 '21341': 'KASBAH LANTERN WITH GLASS ',
 '84886': 'BLUE METAL WALL SHELF',
 '84891B': 'GREEN WIRE GOBLET CANDLEHOLDER',
 '16162M': 'THE KING GIFT BAG 25x24x12cm',
 '21928': 'JUMBO BAG SCANDINAVIAN PAISLEY',
 '72800A': 'S/4 BLACK DINNER CANDLE SILVER FLOC',
 '84990': '60 GOLD AND SILVER FAIRY CAKE CASES',
 '84857A': 'SILVER MONTE CARLO HANDBAG',
 '46775E': 'CANDY POP CHUNKY KNITTED THROW ',
 '37491C': 'GREEN/BLUE CERAMIC CANDLE HOLDER',
 '37491A': 'YELLOW/PINK CERAMIC CANDLE HOLDER',
 '84402B': 'PURPLE DRESS JEWELLERY STAND',
 '84680': 'CLASSICAL ROSE URN',
 '35809B': 'ENAMEL BLUE RIM TEA CONTAINER',
 '35597D': 'PINK/WHITE CHRISTMAS TREE 30CM',
 '21698': 'MOCK LOBSTER FRIDGE MAGNET',
 '79030A': 'TUMBLER, ENGLISH ROSE',
 '35240': 'ENAMEL BLUE RIM OVAL TRAY SET/2',
 '84709A': 'SILVER OVAL JEWELLED MIRROR',
 '44228': 'CANNABIS LEAF BEAD CURTAIN',
 '84709B': 'PINK OVAL JEWELLED MIRROR',
 '84712B': 'PINK JEWELLED PHOTO FRAME',
 '17001': 'HEAVENS SCENT FRAGRANCE OILS ASSTD',
 '79161A': 'ST GEORGE SET OF 10 PARTY LIGHTS',
 '37441': 'ASSORTED WHITE EMBOSSED CHINA MUGS',
 '79532': 'MOSAIC GLASS BALL CANDLEHOLDER',
 '47592B': "SCOTTIES DESIGN CHILD'S OVERALL",
 '84856S': 'SMALL TAHITI BEACH BAG',
 '79331': 'PINK FLOCK GLASS CANDLEHOLDER',
 '84497': 'BUTTONS AND STRIPES NOTEBOOK ',
 '21226': 'POCKET MIRROR WOODLAND',
 '75013B': 'STRING OF 8 BUTTERFLIES,PINK',
 '37462B': 'PET MUG, BUDGIE',
 '37422': 'WHITE WITH BLACK CATS BOWL',
 '84762A': 'WHITE PICNIC BARBECUE BUCKET',
 '20845': 'ZINC HEART LATTICE 2 WALL PLANTER',
 '90042C': 'FRESHWATER PEARL BRACELET IVORY',
 '90081B': 'LILY BROOCH WHITE/SILVER COLOUR',
 '90094': 'NECKLACE+BRACELET SET FRUIT SALAD ',
 '90060D': 'FIRE POLISHED GLASS NECKL BRONZE',
 '90162A': 'ANT SILVER TURQUOISE BOUDICCA RING',
 '90212C': 'PURPLE LAS VEGAS BRACELET ROUND',
 '90036B': 'FLOWER GLASS GARLAND NECKL.36"GREEN',
 '90025C': 'BAROQUE BUTTERFLY EARRINGS GREEN',
 '90011C': 'GREEN CRYSTAL DROP EARRINGS',
 '90000C': 'OPAL WHITE/SILVER FLOWER NECKLACE',
 '90139': 'FLOWER BROOCH 4 ASSORTED COLOURS',
 '90090': 'PINK CRYSTAL HEART PHONE CHARM',
 '90087': 'CRYSTAL SEA HORSE PHONE CHARM',
 '90128B': 'BLUE LEAVES AND BEADS PHONE CHARM',
 '90128A': 'PINK LEAVES AND BEADS PHONE CHARM',
 '90104': 'PURPLE FRANGIPANI HAIRCLIP',
 '84684': 'BEACH HUT PHOTO FRAME',
 '47505': 'MINATURE COLOURED GARDENING SET',
 '37481': 'CUBIC MUG TEATIME CAKES',
 '85162B': 'BLACK RETRODISC LAMPSHADE',
 '21871': 'SAVE THE PLANET MUG',
 '21077': 'SET/20 WOODLAND PAPER NAPKINS ',
 '37479B': 'CUBIC MUG FLOCK BLUE ON BROWN',
 '22236': 'CAKE STAND 3 TIER MAGIC GARDEN',
 '21869': 'POTTING SHED COFFEE MUG',
 '84873A': 'FUNKY FLOWER PICNIC BAG FOR 4',
 '21740': 'COSY SLIPPER SHOES LARGE RED',
 '84977': 'WIRE FLOWER T-LIGHT HOLDER',
 '21736': 'GOLD SCROLL GLASS T-LIGHT HOLDER',
 '16051': 'TEATIME PENCIL W STAMP ASST',
 '16256B': 'FLOWER PENCIL/RUBBER+5 MINI PENCILS',
 '84424A': 'FOUR PICTURE WHITE GLASS FRAME',
 '84791': 'GINGHAM HEART DECORATION',
 '20861': 'GOLD COSMETIC BAG PINK STAR',
 '20729': 'RED SPOTTY CANDY BAG',
 '85222': 'ASSORTED COLOUR SILK COSMETIC PURSE',
 '51020B': 'STRIPY DESIGN SHOWER CAP',
 '47598': 'NEW ENGLAND EGG WARMER',
 '47591C': "BLUE FAIRY CAKE CHILD'S APRON",
 '22347': 'PIZZA SLICE DISH',
 '47566B': 'TEA TIME PARTY BUNTING',
 '22640': 'SET OF 4 NAPKIN CHARMS 3 KEYS ',
 '84932A': 'SMALL GREEN PEONY FOLDING STOOL',
 '84932D': 'SMALL ORIENTAL RED FOLDING STOOL',
 '21923': 'RED/CREAM STRIPE FRINGE HAMMOCK',
 '90060C': 'FIRE POLISHED GLASS NECKL SILVER',
 '84279B': 'CHERRY BLOSSOM DECORATIVE FLASK',
 '90035B': 'PEARL & SHELL 42"NECKL. PINK',
 '21730': 'GLASS STAR FROSTED T-LIGHT HOLDER',
 '21185': ' HOME SWEET HOME  BLACKBOARD',
 '82607E': "GLASS BONBON JAR. D'AMANDES",
 '22192': 'BLUE DINER WALL CLOCK',
 '22122': 'SET OF 2 FANCY FONT TEA TOWELS',
 '85080': 'PADDED RED HEART DECORATION',
 '35838A': 'S/6 MULTICOLOUR ORNAMENETAL CANDLE',
 '21768': 'WALL MOUNTED VINTAGE ORGANISER',
 '35838B': 'S/6 SILVER ORNAMENETAL CANDLE',
 '22656': 'VINTAGE BLUE KITCHEN CABINET',
 '22655': 'VINTAGE RED KITCHEN CABINET',
 '79320': ' FLAMINGO LIGHTS',
 '21924': 'BLUE/CREAM STRIPE FRINGE HAMMOCK',
 '84968D': 'S/16 VINTAGE RED CUTLERY',
 '21765': 'HANGING METAL BIRD BATH',
 '85041': 'SET/4 PINK ORCHID CANDLES IN BOWL',
 '20660': 'VIP LUGGAGE TAG ',
 '47599A': 'PINK PARTY BAGS',
 '22639': 'SET OF 4 NAPKIN CHARMS HEARTS',
 '22638': 'SET OF 4 NAPKIN CHARMS CROWNS ',
 '22641': 'SET OF 4 NAPKIN CHARMS INSTRUMENT',
 '22642': 'SET OF 4 NAPKIN CHARMS STARS   ',
 '22643': 'SET OF 4 NAPKIN CHARMS LEAVES   ',
 '22604': 'SET OF 4 NAPKIN CHARMS CUTLERY',
 '48103': 'DOOR MAT KISS MY.......',
 '21121': 'SET/10 RED SPOTTY PARTY CANDLES',
 '22607': 'WOODEN ROUNDERS GARDEN SET ',
 '22752': 'SET 7 BABUSHKA NESTING BOXES',
 '22753': 'SMALL YELLOW BABUSHKA NOTEBOOK ',
 '22754': 'SMALL RED BABUSHKA NOTEBOOK ',
 '22756': 'LARGE YELLOW BABUSHKA NOTEBOOK ',
 '22757': 'LARGE RED BABUSHKA NOTEBOOK ',
 '22755': 'SMALL PURPLE BABUSHKA NOTEBOOK ',
 '22759': 'SET OF 3 NOTEBOOKS IN PARCEL',
 '22758': 'LARGE PURPLE BABUSHKA NOTEBOOK  ',
 '21181': 'PLEASE ONE PERSON  METAL SIGN',

#### Imputing Description

In [28]:
nc['Description'].fillna(0, inplace=True)

In [29]:
nc[nc['Description'] == 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Day of Week,Date,Month,Year,Day of Year,Week of Year,Time Hour,Hour
2989,489659,21350,0,230,2009-12-01 17:39:00,0.0,imp26,United Kingdom,Tuesday,01,Dec,2009,335,48,17:39:00,17
3542,489781,84292,0,17,2009-12-02 11:45:00,0.0,imp29,United Kingdom,Wednesday,02,Dec,2009,336,48,11:45:00,11
6136,489882,35751C,0,12,2009-12-02 16:22:00,0.0,imp37,United Kingdom,Wednesday,02,Dec,2009,336,48,16:22:00,16
6312,489898,79323G,0,954,2009-12-03 09:40:00,0.0,imp39,United Kingdom,Thursday,03,Dec,2009,337,48,09:40:00,9
6336,489903,21166,0,48,2009-12-03 09:57:00,0.0,imp42,United Kingdom,Thursday,03,Dec,2009,337,48,09:57:00,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997790,581103,22689,0,4,2011-12-07 11:58:00,0.0,imp8084,United Kingdom,Wednesday,07,Dec,2011,341,49,11:58:00,11
999337,581203,23406,0,15,2011-12-07 18:31:00,0.0,imp8092,United Kingdom,Wednesday,07,Dec,2011,341,49,18:31:00,18
999338,581209,21620,0,6,2011-12-07 18:35:00,0.0,imp8098,United Kingdom,Wednesday,07,Dec,2011,341,49,18:35:00,18
1000963,581234,72817,0,27,2011-12-08 10:33:00,0.0,imp8106,United Kingdom,Thursday,08,Dec,2011,342,49,10:33:00,10
1002496,581408,85175,0,20,2011-12-08 14:06:00,0.0,imp8110,United Kingdom,Thursday,08,Dec,2011,342,49,14:06:00,14

In [30]:
for i in range(len(nc['Description'])):
    if nc.loc[i, 'Description'] == 0 and nc.loc[i, 'StockCode'] in mapper_stck.keys():
        nc.loc[i, 'Description'] = mapper_stck[nc.loc[i, 'StockCode']]

for i in range(len(nc['Description'])):
    print(nc.loc[i, 'StockCode'] in mapper_stck.keys())

In [31]:
nc = nc[nc['Description'] != 0]

In [32]:
nc.isna().sum()

Invoice         0
StockCode       0
Description     0
Quantity        0
InvoiceDate     0
Price           0
Customer ID     0
Country         0
Day of Week     0
Date            0
Month           0
Year            0
Day of Year     0
Week of Year    0
Time Hour       0
Hour            0
dtype: int64

In [33]:
print(f" Still got {nc[nc['Price'] == 0].shape[0]} rows where Price are equal to Zero (0). I'm going to drop all price where have a Zero(o) values.")

 Still got 2504 rows where Price are equal to Zero (0). I'm going to drop all price where have a Zero(o) values.

**It just because the business logic where price is zero(0) is impossible, despite of assuming the zero values have another meaning in the real case (should described at features description)**

In [34]:
nc = nc[nc['Price'] != 0]

### g. `Amount` Additional Features

- It's a additional featrues to get insight about *Sales Amount*

In [35]:
nc['Amount'] = nc['Quantity'] * nc['Price']

In [36]:
display(nc.head(2), nc.shape)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Day of Week,Date,Month,Year,Day of Year,Week of Year,Time Hour,Hour,Amount
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,Tuesday,01,Dec,2009,335,48,07:45:00,7,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,Tuesday,01,Dec,2009,335,48,07:45:00,7,81.0

(1003214, 17)

**Rearange the `DataFrame`**

In [37]:
nc = nc[['Invoice', 'StockCode', 'Description', 'Quantity', 'Price', 'Amount', 'Customer ID', 'Country', 
         'InvoiceDate', 'Day of Week', 'Date', 'Month', 'Year', 'Day of Year', 'Week of Year', 'Time Hour', 'Hour']]

In [40]:
nc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003214 entries, 0 to 1005779
Data columns (total 17 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Invoice       1003214 non-null  int64
 1   StockCode     1003214 non-null  object
 2   Description   1003214 non-null  object
 3   Quantity      1003214 non-null  int64
 4   Price         1003214 non-null  float64
 5   Amount        1003214 non-null  float64
 6   Customer ID   1003214 non-null  object
 7   Country       1003214 non-null  object
 8   InvoiceDate   1003214 non-null  datetime64[ns]
 9   Day of Week   1003214 non-null  object
 10  Date          1003214 non-null  object
 11  Month         1003214 non-null  object
 12  Year          1003214 non-null  object
 13  Day of Year   1003214 non-null  object
 14  Week of Year  1003214 non-null  object
 15  Time Hour     1003214 non-null  object
 16  Hour          1003214 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(11)
memory usage: 137.8+ MB

# This Dataset is ready into EDA !

**Convert it to csv again**

In [ ]:
nc.to_csv('Online Retail II Clean.csv', index=False)

In [5]:
df = pd.read_csv('Online Retail II Clean.csv')

In [6]:
df[df.duplicated()]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, Price, Amount, Customer ID, Country, InvoiceDate, Day of Week, Date, Month, Year, Day of Year, Week of Year, Time Hour, Hour]
Index: []